<div class="span4 box">

	<div class="content-wrap">
		<h6>Log in</h6>
                <?php echo $this->flashmessages();?>
	<?php if (count($this->errorMessage) > 0): ?>
		<div class="alert alert-error">
		<?php foreach ($this->errorMessage as $erroValue): ?>
			<?php foreach ($erroValue as $_value): ?>
			<div class="text-left">
			<i class="icon-remove-sign"></i>
			<?php echo $_value; ?>
			</div>
			<?php endforeach; ?>
		<?php endforeach; ?>
		</div>
	<?php endif; ?>
		<form action="" method="post">
		<?php echo $this->form->email; ?>
		<?php echo $this->form->password; ?>
		<a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'login', 'action' => 'forgotpassword'), null, TRUE); ?>" class="forgot">Forgot password?</a>
		<button type="submit" class="btn-glow primary login">
                Log in
		</button>
		</form>
	</div>
</div>
