<!DOCTYPE html>
<html>
    <head>
        <?php //echo $this->headTitle(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- bootstrap -->
        <link href="<?php echo $this->CSS_PATH; ?>bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="<?php echo $this->CSS_PATH; ?>bootstrap/bootstrap-responsive.css" rel="stylesheet" />
        <link href="<?php echo $this->CSS_PATH; ?>bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

        <link href="<?php echo $this->CSS_PATH; ?>compiled/personal-info.css" type="text/css" rel="stylesheet" />

        <!-- libraries -->
        <link href="<?php echo $this->CSS_PATH; ?>lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
        <link href="<?php echo $this->CSS_PATH; ?>lib/font-awesome.css" type="text/css" rel="stylesheet" />
        <link href="<?php echo $this->CSS_PATH; ?>lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" />
        <link href="<?php echo $this->CSS_PATH; ?>lib/select2.css" type="text/css" rel="stylesheet" />
        <!-- global styles -->
        <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH; ?>compiled/layout.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH; ?>compiled/elements.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH; ?>compiled/icons.css" />


        <!-- this page specific styles -->
        <link rel="stylesheet" href="<?php echo $this->CSS_PATH; ?>compiled/index.css" type="text/css" media="screen" />    
        <!--add New css-->
        <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH; ?>developer.css" />

        <!-- open sans font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

        <!-- lato font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        
        
        <title><?php echo $this->SITE_NAME; ?></title>
        <?php
        echo $this->headLink();
        ?>
        <script>
            var BASE_PATH = '<?php echo BASE_PATH; ?>';
            var SITE_URL = '<?php echo $this->BASE_URL . ""; ?>';
        </script>

    </head>
    <body>

        <!-- navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="brand" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'index', 'action' => 'index'), null, TRUE); ?>">
					<?php echo $this->SITE_NAME; ?>
				</a>

                <ul class="nav pull-right">                
                <li class="settings hidden-phone">
                        <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'logout', 'action' => 'index'), null, TRUE); ?>" role="button">

                            <i class="icon-share-alt"></i>
                        </a>
                    </li>
                </ul>            
            </div>
        </div>
        <!-- end navbar -->

        <!-- sidebar -->
        <div id="sidebar-nav">
            <ul id="dashboard-menu">
               <!-- Logout MENU-----> 
                <li>
                    <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'logout', 'action' => 'index'), null, TRUE); ?>">
                        <i class="icon-unlock"></i>
                        <span>Logout</span>
                    </a>
                </li>				
            </ul>
        </div>
        <!-- end sidebar -->

        <!-- main container -->
        <div class="content">
            <?php echo $this->layout()->content; ?>
        </div>

        <!-- scripts -->

        <script src="<?php echo $this->JS_PATH; ?>jquery-1.10.2.js"></script>
        <script src="<?php echo $this->JS_PATH; ?>bootstrap.min.js"></script>
        <script src="<?php echo $this->JS_PATH; ?>jquery-ui-1.10.2.custom.min.js"></script>
        <script src="<?php echo $this->JS_PATH; ?>theme.js"></script>
        <script src="<?php echo $this->JS_PATH; ?>project.js"></script>
        <script src="<?php echo $this->JS_PATH; ?>select2.min.js"></script>
       
        <?php
        echo $this->headScript();
        ?>

    </body>
</html>
