<!DOCTYPE html>
<html class="login-bg">
<head>
	<?php echo $this->headTitle(); 	?>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- bootstrap -->
    <link href="<?php echo $this->CSS_PATH;?>bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="<?php echo $this->CSS_PATH;?>bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="<?php echo $this->CSS_PATH;?>bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH;?>compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH;?>compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH;?>compiled/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="<?php echo $this->CSS_PATH;?>lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="<?php echo $this->CSS_PATH;?>compiled/signin.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>


    <div class="row-fluid login-wrapper">
        <a href="<?php echo $this->url(array('module' => 'default', 'controller' => 'login', 'action' => 'index'), null, TRUE); ?>">&nbsp;
        </a>
		<?php  echo $this->layout()->content ?>
    </div>

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="<?php echo $this->JS_PATH;?>bootstrap.min.js"></script>
    <script src="<?php echo $this->JS_PATH;?>theme.js"></script>

</body>
</html>

<?php /*?>
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="<?php echo $this->IMAGE_PATH;?>favicon.png">
    <meta name="author" content="<?php echo $this->SITE_NAME;?>"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    var BASE_PATH = '<?php echo BASE_PATH;?>';
    </script>
    <?php
     echo $this->headTitle();
     echo $this->headScript();
     echo $this->headLink();
    ?>
</head>
<body>
<div class="single-widget-container">
    <section class="widget login-widget">
        
        <?php  echo $this->layout()->content ?>
        <footer>
        </footer>
    </section>
</div>
</body>
</html>
<?php */ ?>