<!DOCTYPE html>
<html>
    <head>
        <?php echo $this->headTitle(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php  echo $this->headLink(); ?>
        <script>
            var BASE_PATH = '<?php echo BASE_PATH; ?>';
            var SITE_URL = '<?php echo $this->BASE_URL . ""; ?>';
        </script>
    </head>
    <body>
		<?php echo $this->layout()->content; ?>
        <?php echo $this->headScript(); ?>
    </body>
</html>